<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDcwZq9k3NyJqxsS5RWFA7bK_Xo5jVGuvs</string>
	<key>GCM_SENDER_ID</key>
	<string>268359563249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneyplus.app.moneyPlus</string>
	<key>PROJECT_ID</key>
	<string>money-plus-84d42</string>
	<key>STORAGE_BUCKET</key>
	<string>money-plus-84d42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268359563249:ios:5a974d52f0a07489dab650</string>
</dict>
</plist>